@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nanum+Pen+Script&display=swap');

body {
  background-color:slategray;

}

.App {
  text-align: center;
  justify-items: center;
  
}

.App-link {
  color: #61dafb;
}

.poke-controls {
  display: flex;
  flex-direction: row;
}

.poke-card {
  width: 50%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-family: 'Bangers', cursive  ;
  font-size: 15px;
  background-color: #61dafb;
  color:yellow;
  padding: 10px;
  border-radius: 5px 50px 5px 50px;
  
}

.poke-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.active {
  color: #61dafb;

}

